@{
    ViewBag.Title = "Имеющиеся в ассортименте Шины";
}
<h2 style="text-align:center">@ViewBag.Title</h2>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/assets/orig.jpg" class="img-fluid rounded-start" alt="..." width="200" height="200">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><font size="5">Saffiro SF5000 285/35 R20 104Y</font></h5>
                <p class="card-text">Ширина профиля - 285, Высота профиля - 35</p>
                <p>Общие Характеристики: Сезонность - летняя, Назначение - для легкового автомобиля</p>


                <p><font size="4"><span style="color:red">7 899 ₽</span></font></p>
                <a href="/Home/Rak" class="btn btn-success">Купить</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/assets/кшины.jpg" class="img-fluid rounded-start" alt="..." width="200" height="200">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><font size="5">Pirelli 245/40/19 Y 98 PZERO ROSSO DIREZIONALE XL</font></h5>
                <p class="card-text">Ширина профиля - 245, Высота профиля - 40, Диаметр - 19</p>
                <p>Общие Характеристики: Сезонность - летняя, Назначение - для легкового автомобиля</p>


                <p><font size="4"><span style="color:red">6 999 ₽</span></font></p>
                <a href=" /Home/Rak" class="btn btn-success">Купить</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/assets/акв.jpg" class="img-fluid rounded-start" alt="..." width="200" height="200">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><font size="5">Atturo AZ800 255/55 R19 111V</font></h5>
                <p class="card-text">Ширина профиля - 255, Высота профиля - 55, Диаметр - 19</p>
                <p>Общие Характеристики: Сезонность - летняя, Назначение - для легкового автомобиля</p>


                <p><font size="4"><span style="color:red">9 149 ₽</span></font></p>
                <a href="/Home/Rak" class="btn btn-success">Купить</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/assets/акв.jpg" class="img-fluid rounded-start" alt="..." width="200" height="200">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><font size="5">Atturo AZ800 255/55 R19 111V</font></h5>
                <p class="card-text">Ширина профиля - 255, Высота профиля - 55, Диаметр - 19</p>
                <p>Общие Характеристики: Сезонность - летняя, Назначение - для легкового автомобиля</p>


                <p><font size="4"><span style="color:red">9 149 ₽</span></font></p>
                <a href="/Home/Rak" class="btn btn-success">Купить</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/assets/акв.jpg" class="img-fluid rounded-start" alt="..." width="200" height="200">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><font size="5">Atturo AZ800 255/55 R19 111V</font></h5>
                <p class="card-text">Ширина профиля - 255, Высота профиля - 55, Диаметр - 19</p>
                <p>Общие Характеристики: Сезонность - летняя, Назначение - для легкового автомобиля</p>


                <p><font size="4"><span style="color:red">9 149 ₽</span></font></p>
                <a href="/Home/Rak" class="btn btn-success">Купить</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/assets/акв.jpg" class="img-fluid rounded-start" alt="..." width="200" height="200">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><font size="5">Atturo AZ800 255/55 R19 111V</font></h5>
                <p class="card-text">Ширина профиля - 255, Высота профиля - 55, Диаметр - 19</p>
                <p>Общие Характеристики: Сезонность - летняя, Назначение - для легкового автомобиля</p>


                <p><font size="4"><span style="color:red">9 149 ₽</span></font></p>
                <a href="/Home/Rak" class="btn btn-success">Купить</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/assets/акв.jpg" class="img-fluid rounded-start" alt="..." width="200" height="200">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><font size="5">Atturo AZ800 255/55 R19 111V</font></h5>
                <p class="card-text">Ширина профиля - 255, Высота профиля - 55, Диаметр - 19</p>
                <p>Общие Характеристики: Сезонность - летняя, Назначение - для легкового автомобиля</p>


                <p><font size="4"><span style="color:red">9 149 ₽</span></font></p>
                <a href="/Home/Rak" class="btn btn-success">Купить</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/assets/акв.jpg" class="img-fluid rounded-start" alt="..." width="200" height="200">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><font size="5">Atturo AZ800 255/55 R19 111V</font></h5>
                <p class="card-text">Ширина профиля - 255, Высота профиля - 55, Диаметр - 19</p>
                <p>Общие Характеристики: Сезонность - летняя, Назначение - для легкового автомобиля</p>


                <p><font size="4"><span style="color:red">9 149 ₽</span></font></p>
                <a href="/Home/Rak" class="btn btn-success">Купить</a>
            </div>
        </div>
    </div>
</div>