
@{
    ViewBag.Title = "Каталог товаров";
}

<h2>Категории товаров</h2>
<div class="container content">
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="/Home/About" class="list-group-item">Шины</a>
                <a href="/Home/Contact" class="list-group-item">Диски</a>
                
                
            </div>
        </div>
        
    </div>
</div>

