@{
    ViewBag.Title = "Имеющиеся в ассортименте Диски";
}
<h2 style="text-align:center">@ViewBag.Title</h2>


<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://www.kolesa-darom.ru/upload/optimized_cache/resize_cache/iblock/6e8/600_600_1/6e857881a95d3bd53d1ed432db99000d.jpg" class="img-fluid rounded-start" alt="..." width="200" height="200">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><font size="5">Колесный диск Magnetto 14003 5.5xR14 4x98 ET35 DIA58.6 </font></h5>
                <p class="card-text"></p>
                <p></p>


                <p><font size="4"><span style="color:red">1 399 ₽</span></font></p>
                <a href="/Home/Rak " class="btn btn-success">Купить</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://www.kolesa-darom.ru/upload/optimized_cache/resize_cache/iblock/6e8/600_600_1/6e857881a95d3bd53d1ed432db99000d.jpg" class="img-fluid rounded-start" alt="..." width="200" height="200">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><font size="5">Колесный диск Magnetto 14003 5.5xR14 4x98 ET35 DIA58.6 </font></h5>
                <p class="card-text"></p>
                <p></p>


                <p><font size="4"><span style="color:red">1 399 ₽</span></font></p>
                <a href=" /Home/Rak" class="btn btn-success">Купить</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://www.kolesa-darom.ru/upload/optimized_cache/resize_cache/iblock/6e8/600_600_1/6e857881a95d3bd53d1ed432db99000d.jpg" class="img-fluid rounded-start" alt="..." width="200" height="200">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><font size="5">Колесный диск Magnetto 14003 5.5xR14 4x98 ET35 DIA58.6 </font></h5>
                <p class="card-text"></p>
                <p></p>


                <p><font size="4"><span style="color:red">1 399 ₽</span></font></p>
                <a href="/Home/Rak " class="btn btn-success">Купить</a>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://www.kolesa-darom.ru/upload/optimized_cache/resize_cache/iblock/6e8/600_600_1/6e857881a95d3bd53d1ed432db99000d.jpg" class="img-fluid rounded-start" alt="..." width="200" height="200">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><font size="5">Колесный диск Magnetto 14003 5.5xR14 4x98 ET35 DIA58.6 </font></h5>
                    <p class="card-text"></p>
                    <p></p>


                    <p><font size="4"><span style="color:red">1 399 ₽</span></font></p>
                    <a href="/Home/Rak " class="btn btn-success">Купить</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://www.kolesa-darom.ru/upload/optimized_cache/resize_cache/iblock/6e8/600_600_1/6e857881a95d3bd53d1ed432db99000d.jpg" class="img-fluid rounded-start" alt="..." width="200" height="200">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><font size="5">Колесный диск Magnetto 14003 5.5xR14 4x98 ET35 DIA58.6 </font></h5>
                    <p class="card-text"></p>
                    <p></p>


                    <p><font size="4"><span style="color:red">1 399 ₽</span></font></p>
                    <a href="/Home/Rak " class="btn btn-success">Купить</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://www.kolesa-darom.ru/upload/optimized_cache/resize_cache/iblock/6e8/600_600_1/6e857881a95d3bd53d1ed432db99000d.jpg" class="img-fluid rounded-start" alt="..." width="200" height="200">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><font size="5">Колесный диск Magnetto 14003 5.5xR14 4x98 ET35 DIA58.6 </font></h5>
                    <p class="card-text"></p>
                    <p></p>


                    <p><font size="4"><span style="color:red">1 399 ₽</span></font></p>
                    <a href="/Home/Rak " class="btn btn-success">Купить</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://www.kolesa-darom.ru/upload/optimized_cache/resize_cache/iblock/6e8/600_600_1/6e857881a95d3bd53d1ed432db99000d.jpg" class="img-fluid rounded-start" alt="..." width="200" height="200">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><font size="5">Колесный диск Magnetto 14003 5.5xR14 4x98 ET35 DIA58.6 </font></h5>
                    <p class="card-text"></p>
                    <p></p>


                    <p><font size="4"><span style="color:red">1 399 ₽</span></font></p>
                    <a href="/Home/Rak " class="btn btn-success">Купить</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://www.kolesa-darom.ru/upload/optimized_cache/resize_cache/iblock/6e8/600_600_1/6e857881a95d3bd53d1ed432db99000d.jpg" class="img-fluid rounded-start" alt="..." width="200" height="200">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><font size="5">Колесный диск Magnetto 14003 5.5xR14 4x98 ET35 DIA58.6 </font></h5>
                    <p class="card-text"></p>
                    <p></p>


                    <p><font size="4"><span style="color:red">1 399 ₽</span></font></p>
                    <a href="/Home/Rak" class="btn btn-success">Купить</a>
                </div>
            </div>
        </div>
    </div>
</div>