@{
    ViewBag.Title = "Остров колес";
}


    <div class="jumbotron" style="background-image: url(/assets/ЛОГО.jpg); background-size: 100%;">
        <h1>Остров Колес</h1>
        <p class="lead">Хотите приобрести шины и диски? Тогда вы по адресу!</p>
        <p><a href="/Home/Catalog" class="btn btn-primary btn-lg">Переходи! &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Шины</h2>
            <p>
                Шины по достоинству оценят те водители, которые предпочитают в любых погодных условиях максимально контролировать трассу без ущерба для личного комфорта
            </p>
            <p><a class="btn btn-primary" href="/Home/About">За шинами! &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Диски</h2>
            <p>Диски по достоинству оценят те водители, которые предпочитают в любых дизайнах управлять своим транспортным средством без ущерба для личного комфорта</p>
            <p><a class="btn btn-primary" href="/Home/Contact">За дисками! &raquo;</a></p>
        </div>

    </div>
