
@{
    ViewBag.Title = "О нашем магазине";
}

<font color="white">
    <div class="jumbotron" style="background-image: url(/assets/Шинка.jpg); background-size: 100%; ">
        <h2 style="text-align: center">Совсем немного о нас</h2>
        <p class="lead">
            Свою историю компания «Остров колес» начинает с 2022 года. В данный момент приоритетом в развитии интернет-магазина является реализация колесных дисков и автомобильных шин. Уверенный подход к этому направлению и эффективное ведение бизнеса позволит нам занять лидирующее место на современном российском рынке. Осуществления продаж в сочетании с оперативностью поставок и гибкой ценовой политикой обеспечит партнеров нашей компании сильным инструментом в развитии и ведении бизнеса. С постоянными клиентами возможна индивидуальная система работы.

            Мы осуществляем реализацию широкого ассортимента дисков и шин, а также оказывающая комплексные сервисные услуги.

            Интернет-магазин предоставит каждому клиенту полную информацию о наличии и характеристиках интересующего товара, что делает его приобретение максимально комфортным и легким.

            Прозрачное ведение бизнеса, профессиональная команда и солидный опыт работы дают возможность выстраивать взаимовыгодное и долгосрочное сотрудничество.


        </p>
        <p style="text-align: center">Все вопросы, пожалуйста, на WHATSAPP или ВКОНТАКТЕ без лишних звонков, Вам обязательно ответят !!!</p>
    </div>
    
</font>